body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2px;
    border: 2px solid #333; /* Border for the entire grid */
    position: relative; /* Make the .sudoku-grid container a positioned parent */
}

.sudoku-cell {
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    border: 1px solid #ccc; /* Border for individual cells */
    cursor: pointer;
}

.cell-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
    height: 100%;
    width: 100%;
}

.sudoku-cell:hover {
    background-color: #feffb9;
}

/* Add thicker borders for the houses */
.sudoku-grid::before,
.sudoku-grid::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #333;
}

.sudoku-grid::before,
.sudoku-grid::after {
    width: 100%;
    height: 2px; /* Thickness of the horizontal borders */
}

.sudoku-grid::before {
    top: calc(33.333% - 1px); /* Position below the first row of each 3 rows */
    left: 0; /* Position at the top of the grid */
}

.sudoku-grid::after {
    top: calc(66.666% - 1px); /* Position below the second row of each 3 rows */
    left: 0; /* Position at the bottom of the grid */
}

.sudoku-grid > div:nth-child(3)::after,
.sudoku-grid > div:nth-child(6)::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #333;
    width: 2px; /* Thickness of the vertical borders */
    height: 100%;
}

.sudoku-grid > div:nth-child(3)::after {
    left: calc(33.333% - 1px); /* Position after the first column of each 3 columns */
    top: 0;
}

.sudoku-grid > div:nth-child(6)::after {
    left: calc(66.666% - 1px); /* Position after the second column of each 3 columns */
    top: 0;
}

/* This is for the selector overlay */
.overlay {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #b2eeff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
}

.overlay button {
    padding: 5px 10px;
    cursor: pointer;
}

/* Add some styling to stack buttons vertically */
.grid-selection-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content; /* Adjusted width */
}

/* Style individual buttons (optional) */
.grid-selection-buttons button {
    margin: 5px;
}

.sub-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 6px; /* Adjust the gap between sub-cells as needed */
    column-gap:8px;
    margin-top: -44px; /* Adjust the value as needed */
}

.sub-cell {
    width: 100%; /* Adjust the width to leave some space between sub-cells */
    height: 9px; /* Adjust the height to leave some space between sub-cells */
    text-align: center;
    line-height: 15px;
    font-size: 12px;

    /* Added styles for consistent positioning */
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Use ::before pseudo-element to create a placeholder */
/*.sub-cell::before {
    
    content: ''; 
    display: block;
    height: 80%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

/* Center the numbers within the sub-cell */
.sub-cell span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-cell.single-cell-possibility > span {
    background-color: yellow;
}

.sub-cell.single-group-possibility > span {
    background-color: orange;
}

.sub-cell.row-pair > span {
    background-color: pink;
}

.sub-cell.column-pair > span {
    background-color: lightskyblue;
}

.sub-cell.house-pair > span {
    background-color: lightgreen;
}

.sub-cell.row-column-pair > span {
    background-color: plum;
}

@keyframes glowSelection {
    0% {
        box-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00, 0 0 20px #ffff00;
    }
    80% {
        box-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00, 0 0 40px #ffff00;
    }
    100% {
        box-shadow: 0 0 0px #ffff00, 0 0 0px #ffff00, 0 0 0px #ffff00, 0 0 0px #ffff00;
    }
}

@keyframes glowLogic {
    0% { background-color: initial; }
    50% { background-color: orange; }
    100% { background-color: initial; }
}

.cell-glow {
    animation: glowSelection 1s ease-out;
    animation-fill-mode: forwards;
}

.cell-checking-logic {
    animation: glowLogic 1s ease-out;
    animation-fill-mode: forwards;
}

.cell-frame {
    border: 3px solid #ffea00;
    width: 90%;
    height: 90%;
}